body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.text-center {
    text-align: center;
}

.block {
    width: 100%;
}

nav .brand-logo {
    font-family: 'Lobster', 'cursive';
    padding: 0 15px;
}

.dropdown-content a {
    white-space: nowrap;
}

.add {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.card-action .star {
    cursor: pointer;
    float: right;
    margin-right: 0 !important;
}

.card-action .star i {
    font-size: 20px;
}

.card-action .star i, span {
    vertical-align: top;
}

.card-action .username {
    cursor: pointer;
    margin-left: 5px;
    text-transform: none !important;
}

.add-image .input-field {
    float: none;
    width: 100%;
}

.add-image .img-wrapper {
    float: none;
    margin: 0 auto 10px;
    text-align: center;
}

.add-image .img-wrapper img {
    max-width: 100%;
}

.add-image button {
    margin-bottom: 10px;
}